/* Buttons */

.btn.btn-default {
    color: #02bdaa;
    background-color: #ffffff;
    background-image: #ffffff;
    border: none;
    border-radius: 3px;
}
.btn.btn-default:hover {
    color: #02bdaa;
    background-color: #ffffff;
    background-image: #ffffff;
    border: none;
}
