@font-face {
    font-family: 'Avenir';
    font-style: normal;
    font-weight: normal;
    src: local('../font/avenir/Avenir Next LT Pro Regular'), url('../font/avenir/AvenirNextLTPro-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Avenir Condensed';
    font-style: normal;
    font-weight: normal;
    src: local('../font/avenir/Avenir Next LT Pro Demi Condensed'), url('../font/avenir/AvenirNextLTPro-DemiCn.woff') format('woff');
}
