$bodyFont: 'Avenir', sans-serif;
$navFont: 'Avenir Condensed', sans-serif;
$bgDefault      : #02bdaa;
$bgHighlight    : #047166;
$colDefault     : #ffffff;
$colHighlight   : #ffffff;
$borderlDefault : transparent;
$themePink      : #f50464;
$themePinkDark  : #a40448;
$themeYellow    : #ffb400;
$dropDown       : false;