@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: normal;
  src: local("../font/avenir/Avenir Next LT Pro Regular"), url("../font/avenir/AvenirNextLTPro-Regular.woff") format("woff"); }
@font-face {
  font-family: 'Avenir Condensed';
  font-style: normal;
  font-weight: normal;
  src: local("../font/avenir/Avenir Next LT Pro Demi Condensed"), url("../font/avenir/AvenirNextLTPro-DemiCn.woff") format("woff"); }
/*
 * #1 Body
 */
body {
  background-image: url(../img/bg-w-logo.svg);
  background-repeat: no-repeat;
  background-size: 768px;
  background-position: top  -100px  center;
  margin-top: 80px;
  font-family: "Avenir", sans-serif;
  font-size: 22px;
  overflow-x: hidden; }

.logo-brand {
  height: 40px; }

/*
 * #2 Generic Section Style
 */
.section {
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  overflow-x: hidden; }

/*
 * #3 Lander
 * (front screen)
 */
.lander {
  height: 100vh; }
  .lander h1 {
    font-size: 55px; }
    .lander h1 span {
      font-style: italic;
      color: #ffb400; }
  .lander .logo-box .logo {
    margin-top: 100px;
    width: 100%; }
  .lander .logo-box p {
    color: white;
    text-align: center;
    font-size: 40px; }

/*
 * #4 Collective
 */
.collective {
  text-align: center; }
  .collective h1{
      font-size: 50px;}
      .collective .coming-soon{
          font-size: 20px;
      font-weight: bold;}
  .collective header {
    padding: 20px; }
    .collective header h2 {
      font-size: 40px;
      font-weight: bold; }
    .collective header .header-image {
      max-width: 200px; }

/*
 * #5 Bio
 */
.bio {
  text-align: center; }
  .bio .about-text {
    padding: 10px; }
    .bio .quote {
      font-weight: bold;
      padding-top: : 20px;
      padding-bottom: 5px;}
      .bio .quote-by {
          font-weight: bold;
        text-align: right;
         }
  .bio .about-box h1 {
    font-size: 45px;
    font-weight: bold; }
  .bio .avatar-box {
    margin-top: 60px; }
    .bio .avatar-box img {
      border: 10px solid transparent;
      box-shadow: 0px 0px 0px 20px #f4b3ce; }
    .bio .avatar-box p {
      margin-top: 15px;
      padding: 5px; }

/*
 * #6 Projects
 */
.projects h1 {
  text-align: center;
  font-size: 45px;
  font-weight: bold; }
.projects .project-box {
  margin-top: 40px; }
  .projects .project-box .row {
    margin-bottom: 15px; }
    .projects .project-box .row > div {
      padding: 2px; }
  .projects .project-box .exhibit {
    padding: 2px;
    text-align: center; }
    .projects .project-box .exhibit header {
      padding: 10px;
      background-color: #ffc333; }
      .projects .project-box .exhibit header h3 {
        font-weight: bold; }
    .projects .project-box .exhibit article {
      padding: 15px;
      text-align: center;
      background-color: #ffe199; }
      .projects .people p{
         text-align: right;
         font-size: 15px;}
         .projects .link a{
             align: center;
         }
         .projects .contact{
             text-align: center;
         }

         .contact{
             text-align : center;
             padding: 40px;
         }
         .contact h2{
             font-size: 45px;
             font-weight: bold;
         }
         .contact li{
             text-align: left;
         }

      .mentors {
          padding: 20px;
          padding-bottom: 50px;
      }
      .mentors h1{
          padding-bottom: 20px;
          font-size: 45px;
          font-weight: bold;
      }

/*
 * #6 Footer
 */
.footer {
  padding: 20px;
  background-color: #dc0259;
  text-align: center; }
  .footer span {
    text-decoration: none;
    color: white; }

/*
 * #7 Media Styles
 * Specific styling for different screen sizs
 */
/*
 * #7A
 * Applies to all displays above 991 px
 * (Laptops and Bigger)
 */
@media (min-width: 992px) {
  body {
    background-size: contain; }

  .projects .project-box .row > div {
    padding-left: 40px;
    padding-right: 40px; } }
/*
 * #7B
 * Applies to all displays below and equal to 991 px
 * (Tablets and Mobile)
 */
@media (max-width: 991px) {
  body {
    background-position: top 180px center; } }
/*
 * #7C
 * Applies to all displays below and equal to 767 px
 * (Mobile)
 */
@media (max-width: 767px) {
  body {
    background-image: url("../img/bg.svg"); }

  section.section {
    padding-top: 60px;
    padding-bottom: 60px; }

  .collective header h2 {
    font-size: 40px; }

  .bio .avatar-box img {
    border: none;
    box-shadow: none; } }
/* Buttons */
.btn.btn-default {
  color: #02bdaa;
  background-color: #ffffff;
  background-image: #ffffff;
  border: none;
  border-radius: 3px; }

.btn.btn-default:hover {
  color: #02bdaa;
  background-color: #ffffff;
  background-image: #ffffff;
  border: none; }

.navbar-default {
  background-color: #02bdaa;
  border-color: transparent;
  font-size: 18px;
  font-weight: bold;
  font-family: "Avenir Condensed", sans-serif;
  height: 80px;
  padding: 25px 15px 10px 15px; }
  .navbar-default .btn-default {
    font-size: 17px; }
  .navbar-default .navbar-collapse {
    background-color: #02bdaa; }
  .navbar-default .navbar-brand {
    color: #ffffff; }
    .navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
      color: #ffffff; }
  .navbar-default .navbar-text {
    color: #ffffff; }
  .navbar-default .navbar-nav > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
      color: #ffffff; }
  .navbar-default .navbar-nav > .active > a,
  .navbar-default .navbar-nav > .active > a:hover,
  .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #047166; }
  .navbar-default .navbar-nav > .open > a,
  .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #047166; }
  .navbar-default .navbar-toggle {
    border-color: transparent; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: #047166; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: #ffffff; }
  .navbar-default .navbar-collapse,
  .navbar-default .navbar-form {
    border-color: #ffffff; }
  .navbar-default .navbar-link {
    color: #ffffff; }
    .navbar-default .navbar-link:hover {
      color: #ffffff; }

@media (max-width: 767px) {
  .navbar-default {
    padding: 25px 0 10px 0; }

  .navbar-collapse {
    padding: 25px 15px 10px 15px; }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff; }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
      color: #ffffff; }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #047166; } }

/*# sourceMappingURL=style.css.map */
